@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-600);
}
.dark {
  --ui-primary: var(--ui-color-primary-400);
}

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-3xl: 1680px;
  --container-8xl: 96rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-default;
  }
}

.focus {
  @apply outline-none focus:inset-ring-1 focus:inset-ring-primary focus:border-primary;
  @apply focus-visible:inset-ring-1 focus-visible:inset-ring-primary focus-visible:border-primary;
}
.focus-within {
  @apply focus-within:border-primary!;
}
.focus-within-ring {
  @apply focus-within:inset-ring-1 focus-within:inset-ring-primary;
}

.h0 {
  @apply text-2xl;
}
.h1 {
  @apply text-xl;
}
.h2 {
  @apply text-base font-semibold uppercase;
}
.base {
  @apply text-base leading-[1.4] hyphens-auto;
}
.small {
  @apply text-xs tracking-wide;
}

.scroll-area {
  overflow-y: auto;
  scrollbar-width: thin;
}
